<%= render "partials/navigation" %>
<div id="layoutSidenav">
    <%= render "partials/sidenav" %>
    <div id="layoutSidenav_content">
      <main>
        <div class="container-fluid">
            <h1 class="mt-4 text-center">Editar actividad</h1>
            <ol class="breadcrumb mb-4">
              <div class="col-md-6">
                <li class="breadcrumb-item active">Actividad para el grupo YYY</li>
              </div>
              <div class="col-md-6 text-right">
                <%= link_to 'Regresar actividades', activities_path, class: 'stretched-link' %>
              </div>
            </ol>

            <%= render 'form', activity: @activity %>
        </div>
      </main>
      <%= render "partials/footer" %>
    </div>
</div>
