<%= render "partials/navigation" %>
<div id="layoutSidenav">
    <%= render "partials/sidenav" %>
    <div id="layoutSidenav_content">
      <main>
        <div class="container-fluid">
            <h1 class="mt-4 text-center">Actividades</h1>
            <ol class="breadcrumb mb-4">
              <div class="col-md-6">
                <li class="breadcrumb-item active">Actividades del grupo YYY</li>
              </div>
              <div class="col-md-6 text-right">
                <%= link_to 'Nueva actividad', new_activity_path, class: 'stretched-link' %>
              </div>
            </ol>
            <%- @activities.each_slice(4) do |slice| %>
              <div class="row">
                <%- slice.each do |activity| %>
                  <div class="col-xl-3 col-md-6">
                    <div class="card bg-primary text-white mb-4" style="height: 10rem;">
                      <div class="card-body">
                        <h5 class="card-title"><%= activity.name %></h5>
                        <p class="card-text text-right font-weight-light"><%= activity.ecoins %> $Ecoins</p>
                      </div>
                      <div class="card-footer d-flex align-items-center justify-content-between">
                        <%= link_to 'Ver más detalles', activity, method: :get, class: 'text-white'%>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                      </div>
                    </div>
                  </div>
                <%- end %>
              </div>
            <%- end %>
        </div>
      </main>
      <%= render "partials/footer" %>
    </div>
</div>
